<div id="users-by-reputation" class="card" >
  <div class="col s6">
    <ul class="collection with-header">
      <li class="collection-header"><h5>Top 10 Users by Reputation</h5></li>
      <% @users.each do |user| %>
      <li class="collection-item">
      <p>Name: <span class="user-name"><%= user.name %></span></p>
      <p>Email: <span><%= user.email %></span></p>
      <p>Reputation: <span class="user-reputation"><%= user.reputation %></span></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div id="banned-users" >
  <div class="col s6">
    <ul class="collection with-header">
      <li class="collection-header"><h5>Banned Users</h5></li>
      <% @banned_users.each do |user| %>
      <li class="collection-item">
      <p>Name: <span class="user-name"><%= user.name %></span></p>
      <p>Email: <span><%= user.email %></span></p>
      <p>Reputation: <span class="user-reputation"><%= user.reputation %></span></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>
