<div class="row">
  <div id="users-by-reputation" class="col s6">
    <ul class="collection with-header">
      <li class="collection-header"><h5>Top 10 Users by Reputation</h5></li>
      <% @users.each do |user| %>
      <li class="collection-item">
      <p>Name: <span class="user-name"><%= user.name %></span></p>
      <p>Email: <span><%= user.email %></span></p>
      <p>Reputation: <span class="user-reputation"><%= user.reputation %></span></p>
      </li>
      <% end %>
    </ul>
  </div>

  <div id="banned-users" class="col s6">
    <ul class="collection with-header">
      <li class="collection-header"><h5>Banned Users</h5></li>
      <% @banned_users.each do |user| %>
      <li class="collection-item">
      <p>Name: <span class="user-name"><%= user.name %></span></p>
      <p>Email: <span><%= user.email %></span></p>
      <p>Reputation: <span class="user-reputation"><%= user.reputation %></span></p>
      </li>
      <% end %>
    </ul>
  </div>

  <div id="recent-questions" class="col s6 right">
    <ul class="collection with-header">
      <li class="collection-header"><h5>Recent Questions</h5></li>
      <% @recent_questions.each do |question| %>
      <li class="collection-item">
      <p>Title: <span class="question-title"><%= question.title %></span></p>
      <p>Body: <span><%= question.body %></span></p>
      </li>
      <div class="divider"></div>
      <% end %>
    </ul>
  </div>

  </div>

  <div id="create-question" class="col m12 s10">
    <div class="card-panel">
      <%= form_tag new_question_path  do %>

        <%= label_tag :title %>
        <%= text_field_tag :title %>

        <%= label_tag :body %>
        <%= text_field_tag :body %>

        <%= label_tag :category_id %>
        <%= text_field_tag :category_id %>

        <%= label_tag :user_id %>
        <%= text_field_tag :user_id %>

        <%= submit_tag "Create Question", class: "btn blue" %>
      <% end %>
    </div>
  </div>
</div>
