<div class="row">
  <div id="users-by-reputation" class="col s6">
    <ul class="collection with-header">
      <li class="collection-header"><h5>Top 10 Users by Reputation</h5></li>
      <% @users.each do |user| %>
      <li class="collection-item">
      <p>Name: <span class="user-name"><%= user.name %></span></p>
      <p>Email: <span><%= user.email %></span></p>
      <p>Reputation: <span class="user-reputation"><%= user.reputation %></span></p>
      </li>
      <% end %>
    </ul>
  </div>

  <div id="banned-users" class="col s6">
    <ul class="collection with-header">
      <li class="collection-header"><h5>Banned Users</h5></li>
      <% @banned_users.each do |user| %>
      <li class="collection-item">
      <p>Name: <span class="user-name"><%= user.name %></span></p>
      <p>Email: <span><%= user.email %></span></p>
      <p>Reputation: <span class="user-reputation"><%= user.reputation %></span></p>
      </li>
      <% end %>
    </ul>
  </div>

  <div id="create-question" class="col s10">
      <%= form_tag new_question_path  do %>

      <%= label_tag :title %>
      <%= text_field_tag :title %>

      <%= label_tag :body %>
      <%= text_field_tag :body %>

      <%= label_tag :category_id %>
      <%= text_field_tag :category_id %>

      <%= label_tag :user_id %>
      <%= text_field_tag :user_id %>

      <%= submit_tag "Create Question", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
